/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow: hidden;
   /* height: auto !important;
    height: 1%;*/
    width: 100%;
    /*border: 1px solid #AAA;*/
    cursor: text;
    height: auto !important;
    height: 24px;

    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    min-height: 1px;
    z-index: 999;
    margin: 0 0 5px 0;
    padding: 1px 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    clear: left;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    /* padding: 3px 8px;*/
    background: white;
    border:0 !important;
    margin: 0;
    -webkit-appearance: caret;
}

li.token-input-token-facebook {
    overflow: hidden;
    height: auto !important;
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size:14px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    float: left;
    white-space: nowrap;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
    font-size:14px;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #EEE;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #333;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook {

    position: absolute;
    font-size:14px;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    width: 300px;

    /*padding: 1px;*/
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    margin-top:10px;
}
.token-input-dropdown-facebook > .tokeninput-arrow{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);

}
.token-input-dropdown-facebook > .tokeninput-arrow:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}
div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 6px 8px;

    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: transparent;
    padding: 6px 8px;
    margin: 0;
    color: #333;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: transparent;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: transparent;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}
div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #EEE;
    border-radius: 0;
    color: #333;
}
div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook:first-child {
    background-color: #EEE;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #333;
}
div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook:last-child {
    background-color: #EEE;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #333;
}