@gray:#DDDDDD;
@pink:#DC4FAD;
@red:#DA3B01;
@darkred:#AC193D;
@darkorange:#D24726;
@orange:#FF8F32;
@lightgreen:#82BA00;
@green:#008A17;
@lightteal:#03B3B2;
@teal:#008299;
@lightblue:#5DB2FF;
@blue:#0072C6;
@darkpurple:#4617B4;
@purple:#8C0095;
@darkbluemedium:#004B8B;
@darkblue:#001940;
@cordovan:#570000;
@darkcordova:#380000;
@graynetral:#585858;
@black:#000000;
@flatgreen:#1abc9c;
@white:#FFFFFF;

@default :#2672ec;
@default-hover: #5a94f1;
@dark-bg: rgba(255,255,255,.24);
@dark-color:#212121;

@body-bg : #FFF;
@body-color: #000;
@body-font-size: 13px;
@body-font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;

@line-height: 18px;
@border-color: #CCC;
@default-padding: 5px;

/* TABLE */
@table-padding: 8px 12px;

@navbar-height:40px;
@navbar-bg:@darkred;

@sidebar-width:200px;
@sidebar-bg:#F0F0F0;

/* MODAL */
@modal-bg:@white;
@modal-top-position:100px;
@modal-sm-width:300px;
@modal-lg-width:900px;
@modal-width:500px;
@modal-min-height:100px;
