.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0, @start),
  color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
  @start,
  @stop);
  background: -moz-linear-gradient(center bottom,
  @start 0%,
  @stop 100%);
  background: -o-linear-gradient(@stop,
  @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  .background-clip(padding-box);
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}
.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}
.user-select(@argument: none) {
  -webkit-user-select: @argument;
  -moz-user-select: @argument;
  -ms-user-select: @argument;
  user-select: @argument;
}
.background-clip(@argument: padding-box) {
  -moz-background-clip: @argument;
  -webkit-background-clip: @argument;
  background-clip: @argument;
}
.createThemeDefault(@color:@blue){
  body{
    a{
      color:@color;
      text-decoration: none;
    }
    .bg{
      background:@color;
    }
    .createSpinner(@color);
    .navbar{
      background: @color;
      .brand:hover{
        background: darken(@color,5%);
      }
      ul.nav {
        li:hover {
          background: darken(@color, 5%);
        }
          li.active{
              background: darken(@color, 5%);
          }
      }
    }
    .breadcrumb {
      ul.breadcrumb-nav {
        li:after {
          color: @color;
        }
        li{
          a{
            color:@color;
          }
        }
      }
    }
    table.table{
        tr:hover{
            td{
                background: lighten(@graynetral,60%);
            }
        }
    }
    table.table.no-hover{
      tr:hover{
        td{
          background:transparent !important;
        }
      }
    }
    .bg-hover:hover{
        background: lighten(@color,50%);
    }
    .notification{
      background: @color;
      color:white;
      .box-shadow(none);
    }
    .tabs-line > .nav-tabs > li.open, .tabs-line > .nav-tabs > li:hover {
      border-bottom: 4px solid lighten(@color,50%);
    }
    .tabs-line > .nav-tabs > li.active {
      border-bottom: 4px solid @color;
      position: relative;
    }
    .modal.border .modal-dialog{
      border-color:@color !important;
    }
    .modal.border .modal-dialog .modal-header{
      background:@color !important;
      padding: 10px 8px 15px 5px;
      border-bottom: transparent;
      .close{
        background: @red;
        width: 35px;
        height: 24px;
        text-align: center;
        line-height: 20px;
        color: white;
        margin-top: -21px;
        margin-right: -8px;
      }
    }
    .modal.border .modal-dialog .modal-header h3.modal-title{
      color:white;
    }

    ul.apps-menu{
      li{
        a{
          span{
            border:2px solid @color;
            color:@color;
          }
        }
      }
    }
  }
}
.createTheme(@theme:theme-blue,@color:@blue){
  body.@{theme}{

    input[type=button].default,
    input[type=submit].default,
    button.default {
        background-color: @color;
        color: #ffffff;
    }
    input[type=button].default:hover,
    input[type=submit].default:hover,
    button.default:hover {
        background-color: lighten(@color,5%);
    }
    .bg{
      background:@color;
    }
    .createSpinner(@color);

    a{
      color:@color;
      text-decoration: none;
    }
    .navbar{
      background: @color;
      .brand:hover{
        background: darken(@color,5%);
      }
      ul.nav {
        li:hover {
          background: darken(@color, 5%);
        }
        li.active{
            background: darken(@color, 5%);
        }
      }
    }
    .breadcrumb {
      ul.breadcrumb-nav {
        li:after {
            color: @color;
        }
        li{
          a{
            color:@color;
          }
        }
      }
    }
      table.table{
          tr:hover{
              td{
                background: lighten(@graynetral,60%);
              }
          }
      }
      .bg-hover:hover{
          background: lighten(@color,50%);
      }
    .notification{
      background: @color;
      color:white;
      .box-shadow(none);
    }
    .tabs-line > .nav-tabs > li.open, .tabs-line > .nav-tabs > li:hover {
      border-bottom: 4px solid lighten(@color,50%);
    }
    .tabs-line > .nav-tabs > li.active {
      border-bottom: 4px solid @color;
      position: relative;
    }
    .modal.border .modal-dialog{
      border-color:@color !important;
    }
    .modal.border .modal-dialog .modal-header{
      background:@color !important;
      padding: 10px 8px 15px 5px;
      border-bottom: transparent;
      .close{
        background: @red;
        width: 35px;
        height: 24px;
        text-align: center;
        line-height: 20px;
        color: white;
        margin-top: -21px;
        margin-right: -8px;
      }
    }
    .modal.border .modal-dialog .modal-header h3.modal-title{
      color:white;
    }
    ul.apps-menu{
      li{
        a{
          span{
            border:2px solid @color;
            color:@color;
          }
        }
      }
    }
  }
}
.blurEffect(@blursize:3px){
  filter: blur(@blursize);
  -webkit-filter: blur(@blursize);
  -moz-filter: blur(@blursize);
  -o-filter: blur(@blursize);
  -ms-filter: blur(@blursize);
  filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQoJPGZpbHRlciBpZD0iYmx1ciI+DQoJCTxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjMiIC8+DQoJPC9maWx0ZXI+DQo8L3N2Zz4=#blur);
}
.generateMarginPadding(@name,@paddingsize){
  .padding-@{name}{
    padding:@paddingsize;
  }
  .padding-left-@{name}{
    padding-left:@paddingsize;
  }
  .padding-right-@{name}{
    padding-right:@paddingsize;
  }
  .padding-top-@{name}{
    padding-top:@paddingsize;
  }
  .padding-bottom-@{name}{
    padding-bottom:@paddingsize;
  }
  .margin-@{name}{
    margin:@paddingsize;
  }
  .margin-left-@{name}{
    margin-left:@paddingsize;
  }
  .margin-right-@{name}{
    margin-right:@paddingsize;
  }
  .margin-top-@{name}{
    margin-top:@paddingsize;
  }
  .margin-bottom-@{name}{
    margin-bottom:@paddingsize;
  }
}
.createSpinner(@color,@width:30px){
    .spinner {
      width: @width;
      height: @width;
      background-color: @color;
      position:fixed;
      z-index:9999999;
      top:50%;
      margin-top:-(@width/2);
      left:50%;
      margin-left:-(@width/2);
      -moz-animation: rotateplane 1.2s infinite ease-in-out;
      -webkit-animation: rotateplane 1.2s infinite ease-in-out;
      animation: rotateplane 1.2s infinite ease-in-out;
    }

    @-webkit-keyframes rotateplane {
      0% { -webkit-transform: perspective(120px) }
      50% { -webkit-transform: perspective(120px) rotateY(180deg) }
      100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
    }

    @keyframes rotateplane {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
      } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
}
