@charset "UTF-8";

/* untitled-font-1 */
@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: "\e000";
}
.icon-lock:before {
  content: "\e001";
}
.icon-folder-1:before {
  content: "\e002";
}
.icon-new:before {
  content: "\e003";
}
.icon-draw:before {
  content: "\e004";
}
.icon-call:before {
  content: "\e005";
}
.icon-callstop:before {
  content: "\e006";
}
.icon-cartesian-plot-two-axes:before {
  content: "\e007";
}
.icon-dashboard:before {
  content: "\e008";
}
.icon-configure:before {
  content: "\e009";
}
.icon-colorpicker2:before {
  content: "\e00a";
}
.icon-colorpicker:before {
  content: "\e00b";
}
.icon-appmenu:before {
  content: "\e00c";
}
.icon-time:before {
  content: "\e00d";
}
.icon-file-upload:before {
  content: "\e00e";
}
.icon-file-add:before {
  content: "\e00f";
}
.icon-registryfind:before {
  content: "\e010";
}
.icon-file-edit:before {
  content: "\e011";
}
.icon-save:before {
  content: "\e012";
}
.icon-saveall:before {
  content: "\e013";
}
.icon-print:before {
  content: "\e014";
}
.icon-addressbook:before {
  content: "\e015";
}
.icon-share:before {
  content: "\e016";
}
.icon-cut:before {
  content: "\e017";
}
.icon-copy:before {
  content: "\e018";
}
.icon-avatar-add:before {
  content: "\e019";
}
.icon-find:before {
  content: "\e01a";
}
.icon-findandreplace:before {
  content: "\e01b";
}
.icon-feeds:before {
  content: "\e01c";
}
.icon-undo:before {
  content: "\e01d";
}
.icon-redo:before {
  content: "\e01e";
}
.icon-paste:before {
  content: "\e01f";
}
.icon-favorites:before {
  content: "\e020";
}
.icon-globe:before {
  content: "\e021";
}
.icon-folder-add:before {
  content: "\e022";
}
.icon-picture:before {
  content: "\e023";
}
.icon-sound:before {
  content: "\e024";
}
.icon-folder-sync:before {
  content: "\e025";
}
.icon-tar:before {
  content: "\e026";
}
.icon-document:before {
  content: "\e027";
}
.icon-folder:before {
  content: "\e028";
}
.icon-flag:before {
  content: "\e029";
}
.icon-formula:before {
  content: "\e02a";
}
.icon-next:before {
  content: "\e02b";
}
.icon-previous:before {
  content: "\e02c";
}
.icon-msn:before {
  content: "\e02d";
}
.icon-skype:before {
  content: "\e02e";
}
.icon-twitter:before {
  content: "\e02f";
}
.icon-user:before {
  content: "\e030";
}
.icon-yahoo:before {
  content: "\e031";
}
.icon-hangouts:before {
  content: "\e032";
}
.icon-google:before {
  content: "\e033";
}
.icon-facebook:before {
  content: "\e034";
}
.icon-image-add:before {
  content: "\e035";
}
.icon-voice:before {
  content: "\e036";
}
.icon-upload:before {
  content: "\e037";
}
.icon-mail-sent:before {
  content: "\e038";
}
.icon-mail-forward:before {
  content: "\e039";
}
.icon-mail-open:before {
  content: "\e03a";
}
.icon-user-add:before {
  content: "\e03b";
}
.icon-user-delete:before {
  content: "\e03c";
}
.icon-attachment:before {
  content: "\e03d";
}
.icon-mail:before {
  content: "\e03e";
}
.icon-mail-reply:before {
  content: "\e03f";
}
.icon-usergroup:before {
  content: "\e040";
}
.icon-user-speak:before {
  content: "\e041";
}
.icon-download:before {
  content: "\e042";
}
.icon-database:before {
  content: "\e043";
}
.icon-network-disconnect:before {
  content: "\e044";
}
.icon-network-connect:before {
  content: "\e045";
}
.icon-chart-area:before {
  content: "\e046";
}
.icon-chart-bar:before {
  content: "\e047";
}
.icon-chart-bar-stacked:before {
  content: "\e048";
}
.icon-chart-line:before {
  content: "\e049";
}
.icon-chart-line-stacked:before {
  content: "\e04a";
}
.icon-chart-pie:before {
  content: "\e04b";
}
.icon-chart-polar-stacked:before {
  content: "\e04c";
}
.icon-more:before {
  content: "\e04d";
}
.icon-volume:before {
  content: "\e04e";
}
.icon-calendar-add:before {
  content: "\e04f";
}
.icon-usergroup-add:before {
  content: "\e050";
}
.icon-news-check:before {
  content: "\e051";
}
.icon-unlocked:before {
  content: "\e052";
}
.icon-locked:before {
  content: "\e053";
}
.icon-shapes:before {
  content: "\e054";
}
.icon-user-switch:before {
  content: "\e055";
}
.icon-brightness:before {
  content: "\e056";
}
.icon-money:before {
  content: "\e057";
}
.icon-trash:before {
  content: "\e058";
}
.icon-bank:before {
  content: "\e059";
}
.icon-calendar:before {
  content: "\e05a";
}
.icon-barcode:before {
  content: "\e05b";
}
.icon-barcode-add:before {
  content: "\e05c";
}
.icon-birthday:before {
  content: "\e05d";
}
.icon-journal:before {
  content: "\e05e";
}
.icon-calendar-list:before {
  content: "\e05f";
}
.icon-calendar-tasks:before {
  content: "\e060";
}
.icon-calendar-time-spent:before {
  content: "\e061";
}
.icon-calendar-timeline:before {
  content: "\e062";
}
.icon-close:before {
  content: "\e063";
}
.icon-window-new:before {
  content: "\e064";
}
.icon-zoom-in:before {
  content: "\e065";
}
.icon-zoom-original:before {
  content: "\e066";
}
.icon-zoom-out:before {
  content: "\e067";
}
.icon-view-group:before {
  content: "\e068";
}
.icon-window:before {
  content: "\e069";
}
.icon-media-eject:before {
  content: "\e06a";
}
.icon-media-playback-start:before {
  content: "\e06b";
}
.icon-media-playback-stop:before {
  content: "\e06c";
}
.icon-media-seek-backward:before {
  content: "\e06d";
}
.icon-media-seek-forward:before {
  content: "\e06e";
}
.icon-media-skip-backward:before {
  content: "\e06f";
}
.icon-media-skip-forward:before {
  content: "\e070";
}
.icon-media-playback-pause:before {
  content: "\e071";
}
.icon-journal-new:before {
  content: "\e072";
}
.icon-go-bottom:before {
  content: "\e073";
}
.icon-go-top:before {
  content: "\e074";
}
.icon-go-first:before {
  content: "\e075";
}
.icon-go-last:before {
  content: "\e076";
}
.icon-about:before {
  content: "\e077";
}
.icon-donate:before {
  content: "\e078";
}
.icon-signal:before {
  content: "\e079";
}
.icon-hint:before {
  content: "\e07a";
}
.icon-subscribe:before {
  content: "\e07b";
}
.icon-filter:before {
  content: "\e07c";
}
.icon-refresh:before {
  content: "\e07d";
}
.icon-preview:before {
  content: "\e07e";
}
.icon-sort-ascending:before {
  content: "\e07f";
}
.icon-sort-descending:before {
  content: "\e080";
}
.icon-tag:before {
  content: "\e081";
}
.icon-plus:before {
  content: "\e082";
}
.icon-format-font-size-less:before {
  content: "\e083";
}
.icon-format-font-size-more:before {
  content: "\e084";
}
.icon-format-text-bold:before {
  content: "\e085";
}
.icon-format-text-italic:before {
  content: "\e086";
}
.icon-format-text-strikethrough:before {
  content: "\e087";
}
.icon-format-text-subscript:before {
  content: "\e088";
}
.icon-format-text-superscript:before {
  content: "\e089";
}
.icon-format-text-underline:before {
  content: "\e08a";
}
.icon-format-text-color:before {
  content: "\e08b";
}
.icon-format-justify-center:before {
  content: "\e08c";
}
.icon-format-justify-fill:before {
  content: "\e08d";
}
.icon-format-justify-left:before {
  content: "\e08e";
}
.icon-format-justify-right:before {
  content: "\e08f";
}
.icon-format-indent-less:before {
  content: "\e090";
}
.icon-format-indent-more:before {
  content: "\e091";
}
.icon-home:before {
  content: "\e092";
}
.icon-delete:before {
  content: "\e093";
}
.icon-user-desktop:before {
  content: "\e094";
}
.icon-chart-bar-percentage:before {
  content: "\e095";
}