label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
label.small {
    font-size:85%;
    vertical-align: middle;
}

:root input[type=button],
:root input[type=submit],
:root button {
    height: 2.142em;
    min-width: 6em;
    font-family: "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Medium", "Helvetica Neue", Arial, sans-serif;
    font-size: 100%;
    background-color: rgba(182, 182, 182, 0.7);
    color: #212121;
    padding: 3px 12px 5px;
    border: 0;
}
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
}
:root .RE_WebKit input[type=button],
:root .RE_WebKit input[type=submit],
:root .RE_WebKit button {
    padding-top: 4px;
    -webkit-appearance: none;
    border-radius: 0;
}
:root input[type=button]:hover,
:root input[type=submit]:hover,
:root button:hover {
    background-color: rgba(205, 205, 205, 0.82);
}
:root input[type=button]:active,
:root input[type=submit]:active,
:root button:active {
    background-color: #212121;
    color: #ffffff;
}
:root input[type=button]:focus:not(.c_nobdr),
:root input[type=submit]:focus:not(.c_nobdr),
:root button:focus:not(.c_nobdr) {
    outline: 1px dotted #212121;
}
:root .dark input[type=button],
:root .dark input[type=submit],
:root .dark button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #ffffff;
}
:root .dark input[type=button]:hover,
:root .dark input[type=submit]:hover,
:root .dark button:hover {
    background-color: rgba(255, 255, 255, 0.24);
}
:root .dark input[type=button]:active,
:root .dark input[type=submit]:active,
:root .dark button:active,
:root .dark input[type=button]:active.default,
:root .dark input[type=submit]:active.default,
:root .dark button:active.default {
    background-color: #fff;
    border-color: #fff;
    color: #212121;
}
:root .dark input[type=button]:focus:not(.c_nobdr),
:root .dark input[type=submit]:focus:not(.c_nobdr),
:root .dark button:focus:not(.c_nobdr) {
    outline: 1px dotted #ffffff;
}
:root .Firefox .dark input[type=button],
:root .Firefox .dark input[type=submit],
:root .Firefox .dark button {
    padding-top: 0;
}
:root input[type=button].default,
:root input[type=submit].default,
:root button.default {
    background-color: #2672ec;
    color: #ffffff;
}
:root input[type=button]:hover.default,
:root input[type=submit]:hover.default,
:root button:hover.default {
    background-color: #5a94f1;
}
:root input[type=button]:active.default,
:root input[type=submit]:active.default,
:root button:active.default,
:root input[type=button]:hover:active.default,
:root input[type=submit]:hover:active.default,
:root button:hover:active.default {
    background-color: #212121;
}
:root input[type=button]:disabled,
:root input[type=submit]:disabled,
:root button:disabled {
    background-color: rgba(202, 202, 202, 0.49) !important;
    color: rgba(33, 33, 33, 0.49) !important;
}
:root .dark input[type=button]:disabled,
:root .dark input[type=submit]:disabled,
:root .dark button:disabled,
:root .dark input[type=button]:active:disabled,
:root .dark input[type=submit]:active:disabled,
:root .dark button:active:disabled {
    color: rgba(255, 255, 255, 0.49);
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.49);
}
:root .highContrast input[type=button],
:root .highContrast input[type=submit],
:root .highContrast button {
    color: #fff;
    border: 2px solid #fff;
    background-color: #000000 !important;
}
:root input[type=text],
:root input[type=password],
:root input[type=email],
:root input[type=number],
:root input[type=tel],
:root input[type=search],
:root textarea,
:root select {
    /*width: 18.544em;*/
    padding: 4px 8px;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
    font-size: 100%;
    color: #212121;
    border: 1px solid #bababa;
    background-color: rgba(255, 255, 255, 0.8);
}
:root input[type=text]:hover,
:root input[type=password]:hover,
:root input[type=email]:hover,
:root input[type=number]:hover,
:root input[type=tel]:hover,
:root input[type=search]:hover,
:root textarea:hover {
    border-color: #8f8f8f;
}
:root input[type=text]:focus,
:root input[type=password]:focus,
:root input[type=email]:focus,
:root input[type=number]:focus,
:root input[type=tel]:focus,
:root input[type=search]:focus,
:root textarea:focus {
    border-color: #5c5c5c;
    outline: none;
}
:root input[type=text]:disabled,
:root input[type=password]:disabled,
:root input[type=email]:disabled,
:root input[type=number]:disabled,
:root input[type=tel]:disabled,
:root input[type=search]:disabled,
:root textarea:disabled {
    color: rgba(33, 33, 33, 0.27);
    background-color: rgba(202, 202, 202, 0.49);
    border-color: rgba(0, 0, 0, 0.15);
}
:root .dark input[type=text],
:root .dark input[type=password],
:root .dark input[type=email],
:root .dark input[type=number],
:root .dark input[type=tel],
:root .dark input[type=search],
:root .dark textarea {
    color: #212121;
    border-color: rgba(255, 255, 255, 0.8);
}
:root .dark input[type=text]:hover,
:root .dark input[type=password]:hover,
:root .dark input[type=email]:hover,
:root .dark input[type=number]:hover,
:root .dark input[type=tel]:hover,
:root .dark input[type=search]:hover,
:root .dark textarea:hover {
    border-color: rgba(255, 255, 255, 0.87);
}
:root .dark input[type=text]:focus,
:root .dark input[type=password]:focus,
:root .dark input[type=email]:focus,
:root .dark input[type=number]:focus,
:root .dark input[type=tel]:focus,
:root .dark input[type=search]:focus,
:root .dark textarea:focus {
    background-color: #fff;
    border-color: #ffffff;
}
:root .dark input[type=text]:disabled,
:root .dark input[type=password]:disabled,
:root .dark input[type=email]:disabled,
:root .dark input[type=number]:disabled,
:root .dark input[type=tel]:disabled,
:root .dark input[type=search]:disabled,
:root .dark textarea:disabled {
    color: rgba(255, 255, 255, 0.49);
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.49);
}
:root .highContrast input[type=text]:disabled,
:root .highContrast input[type=password]:disabled,
:root .highContrast input[type=email]:disabled,
:root .highContrast input[type=number]:disabled,
:root .highContrast input[type=tel]:disabled,
:root .highContrast input[type=search]:disabled,
:root .highContrast textarea:disabled {
    background-color: #000000;
}
:root input[type=checkbox],
:root input[type=radio] {
    position: absolute;
    padding: 0 0 0 0;
    width: 19px;
    height: 19px;
    margin: 0 0 0 0;
    float: left;
    cursor: default;
}
BODY:not(.IE_M9) input[type=checkbox],
BODY:not(.IE_M9) input[type=radio] {
    opacity: 0;
}
.IE_M9 input[type=checkbox],
.IE_M9 input[type=radio] {
    filter: alpha(opacity=0);
}
:root input[type=checkbox]:last-child,
:root input[type=radio]:last-child {
    position: static;
    float: none;
}
BODY:not(.IE_M9) input[type=checkbox]:last-child,
BODY:not(.IE_M9) input[type=radio]:last-child {
    opacity: 1;
}
.IE_M9 input[type=checkbox]:last-child,
.IE_M9 input[type=radio]:last-child {
    filter: none;
}
:root input[type=checkbox] + label,
:root input[type=radio] + label {
    display: inline-block;
    background: url(../images/controls.png) top left no-repeat, url(../images/controls.png) top left no-repeat, url(../images/controls.png) top left no-repeat;
    height: 19px;
    line-height: 19px;
    padding-left: 24px;
    cursor: default;
}
:root .RE_WebKit input[type=checkbox] + label,
:root .RE_WebKit input[type=radio] + label {
    display: inline;
}
:root .highContrast input[type=checkbox],
:root .highContrast input[type=radio] {
    position: static;
    width: auto;
    height: auto;
}
:root .highContrast input[type=checkbox] + label,
:root .highContrast input[type=radio] + label {
    display: inline;
    background: none;
    padding: 0;
    height: auto;
}
BODY.highContrast:not(.IE_M9) input[type=checkbox],
BODY.highContrast:not(.IE_M9) input[type=radio] {
    opacity: 1;
}
.IE_M9.highContrast input[type=checkbox],
.IE_M9.highContrast input[type=radio] {
    filter: none;
}
:root input[type=checkbox] + label {
    background-position: left -38px;
}
:root input[type=radio] + label {
    background-position: left -228px;
}
:root input[type=checkbox]:checked + label {
    background-position: left 38px, left -114px, left -38px;
}
:root .tschk_mixed input[type=checkbox] + label {
    background-position: left 38px, left -171px, left -38px;
}
:root input[type=checkbox]:active + label,
:root input[type=checkbox] + label:active {
    background-position: left -57px;
}
:root input[type=checkbox]:active:checked + label,
:root input[type=checkbox]:checked + label:active {
    background-position: left 38px, left -152px, left -57px;
}
:root .tschk_mixed input[type=checkbox]:active + label,
:root .tschk_mixed input[type=checkbox] + label:active {
    background-position: left 38px, left -209px, left -57px;
}
:root input[type=checkbox]:disabled + label {
    background-position: left -76px;
}
:root input[type=checkbox]:disabled:checked + label {
    background-position: left 38px, left -133px, left -76px;
}
:root .tschk_mixed input[type=checkbox]:disabled + label {
    background-position: left 38px, left -190px, left -76px;
}
:root input[type=checkbox]:focus:not(.c_nobdr) + label:not(.c_nobdr) {
    background-position: left 0, left 38px, left -38px;
}
:root input[type=checkbox]:focus:checked:not(.c_nobdr) + label:not(.c_nobdr) {
    background-position: left 0, left -114px, left -38px;
}
:root .tschk_mixed input[type=checkbox]:focus:not(.c_nobdr) + label:not(.c_nobdr) {
    background-position: left 0, left -171px, left -38px;
}
:root input[type=checkbox]:focus:active:not(.c_nobdr) + label:not(.c_nobdr),
:root input[type=checkbox]:focus:not(.c_nobdr) + label:active:not(.c_nobdr) {
    background-position: left 0, left 38px, left -57px;
}
:root input[type=checkbox]:focus:active:checked:not(.c_nobdr) + label:not(.c_nobdr),
:root input[type=checkbox]:focus:checked:not(.c_nobdr) + label:active:not(.c_nobdr) {
    background-position: left 0, left -152px, left -57px;
}
:root .tschk_mixed input[type=checkbox]:focus:active:not(.c_nobdr) + label:not(.c_nobdr),
:root .tschk_mixed input[type=checkbox]:focus:not(.c_nobdr) + label:active:not(.c_nobdr) {
    background-position: left 0, left -209px, left -57px;
}
.IE .tschk {
    position: relative;
}
.IE .tschk_box {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #212121;
    display: none;
    margin-left: 7px;
    margin-top: 7px;
    font-size: 1px;
}
.IE_M6 .tschk_mixed .tschk_box,
.IE_M7 .tschk_mixed .tschk_box,
.IE_M8 .tschk_mixed .tschk_box {
    display: block;
}
:root input[type=radio]:checked + label {
    background-position: left 38px, left -304px, left -228px;
}
:root input[type=radio]:active + label,
:root input[type=radio] + label:active {
    background-position: left -247px;
}
:root input[type=radio]:active:checked + label,
:root input[type=radio]:checked + label:active {
    background-position: left 38px, left -342px, left -247px;
}
:root input[type=radio]:disabled + label {
    background-position: left -266px;
}
:root input[type=radio]:disabled:checked + label {
    background-position: left 38px, left -323px, left -266px;
}
:root input[type=radio]:focus:not(.c_nobdr) + label:not(.c_nobdr) {
    background-position: left 0, left 38px, left -228px;
}
:root input[type=radio]:focus:checked:not(.c_nobdr) + label:not(.c_nobdr) {
    background-position: left 0, left -304px, left -228px;
}
:root input[type=radio]:focus:active:not(.c_nobdr) + label:not(.c_nobdr),
:root input[type=radio]:focus:not(.c_nobdr) + label:active:not(.c_nobdr) {
    background-position: left 0, left 38px, left -247px;
}
:root input[type=radio]:focus:active:checked:not(.c_nobdr) + label:not(.c_nobdr),
:root input[type=radio]:focus:checked:not(.c_nobdr) + label:active:not(.c_nobdr) {
    background-position: left 0, left -342px, left -247px;
}
.input-block{
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
legend{
    font-weight: normal;
    line-height: normal;
    padding:0;
    margin:5px 0 15px 0;
    font-size:24px;
    font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
}
input.offline{
    border-top:0 !important;
    border-left:0 !important;
    border-right:0 !important;
    border-bottom: 2px dotted #444 !important;
    background: transparent !important;
    padding-top:0 !important;
}
input.handwriting{
    font-family:'Allura' !important;
    font-size:32px !important;
    padding:5px;
    border-top:0 !important;
    border-left:0 !important;
    border-right:0 !important;
    border-bottom: 1px dotted #CCC !important;
}
.handwriting{
    font-family:'Allura' !important;
    font-size:32px !important;
    padding:5px;
    border-top:0 !important;
    border-left:0 !important;
    border-right:0 !important;
    border-bottom: 1px dotted #CCC !important;
}
