@import "app.variables.less";
@import "app.mixin.less";

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height:142%;
}

body{
  font-family: @body-font-family;
  color: @body-color;
  direction: ltr;
  font-size: 88%;
  margin:0;
  padding-top:40px;
}

.font-weight-light,.font-weight-300{
  font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif !important;
}
.font-weight-normal,.font-weight-400{
  font-family:"Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial,sans-serif !important;
}
.font-size-normal{
  font-size:14px !important;
}

.bg-blue{
  background-color:@blue !important;
}
.bg-lightblue{
  background-color:@lightblue !important;
}
.bg-darkred{
  background-color: @darkred !important;
}
.bg-red{
  background-color: @red !important;
}
.bg-orange{
  background-color: @orange !important;
}
.bg-black{
  background-color: @black !important;
}
.bg-purple{
  background-color: @purple !important;
}
.bg-pink{
  background-color: @pink !important;
}
.bg-teal{
  background-color: @teal !important;
}
.bg-cordovan{
  background-color: @cordovan !important;
}
.bg-green{
  background-color: @green !important;
}
.bg-gray{
  background-color: @graynetral !important;
}
.bg-lightgray{
  background-color: @gray !important;
}
.bg-white{
  background-color: @white !important;
}
.bg-yellow{
    background-color:#ffe700 !important;
}
.fg-blue{
  color:@blue !important;
}
.fg-darkred{
  color: @darkred !important;
}
.fg-orange{
  color: @orange !important;
}
.fg-black{
  color: @black !important;
}
.fg-purple{
  color: @purple !important;
}
.fg-pink{
  color: @pink !important;
}
.fg-teal{
  color: @teal !important;
}
.fg-cordovan{
  color: @cordovan !important;
}
.fg-green{
  color: @green !important;
}
.fg-gray{
  color: @graynetral !important;
}
.fg-lightgray{
  color: @gray !important;
}
.fg-white{
  color: @white !important;
}
.fg-red{
  color:@red !important;
}
.hidden{
  display:none;
}
.notification{
  width:300px;
  position:absolute;
  top:50px;
  right:20px;
  z-index:9999999;
  .window-header{
    padding:5px !important;
    .close{
      margin-top:5px !important;
    }
  }
  .window-body{
    min-height: 60px;
  }
}

.createThemeDefault(@blue);
.createTheme(theme-blue,@blue);
.createTheme(theme-pink,@pink);
.createTheme(theme-darkred,@darkred);
.createTheme(theme-green,@green);
.createTheme(theme-teal,@teal);
.createTheme(theme-black,@black);
.createTheme(theme-purple,@purple);
.createTheme(theme-orange,@orange);
.createTheme(theme-cordovan,@cordovan);
.createTheme(theme-gray,@graynetral);
.createTheme(theme-red,@red);
.createTheme(theme-darkblue,@darkblue);
.createTheme(theme-lightgreen,@lightgreen);
.createTheme(theme-lightteal,@lightteal);
.createTheme(theme-lightblue,@lightblue);
.createTheme(theme-darkpurple,@darkpurple);
.createTheme(theme-darkorange,@darkorange);
.createTheme(theme-flatgreen,@flatgreen);

table.table {
  border-collapse: collapse;
  width: 100%;
}

table.table th,
table.table td {
  text-align: left;
  font-weight: normal;
  padding: @table-padding;
  color: lighten(@body-color,15%);
}
table.table th{
  color:@body-color;
  border-bottom:1px solid @border-color;
  // font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
  text-transform:uppercase;
  color:#444;
}
table.table td{
  font-size:@body-font-size;
}
table.table tr.active td{
  background: lighten(@graynetral,60%);
}
table.table.border th,
table.table.border td{
  border-bottom:1px solid @border-color;
}
table.table.border.dotted td{
  border-bottom:1px dotted @border-color;
}
table.table.full-border th,
table.table.full-border td{
  border:1px solid @border-color;
}
small{
  font-size:85%;
}
h1, h2, h3 {
  font-weight: normal;
  line-height: normal;
  padding:0;
  margin:5px 0;
  font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
}
h4,h5,h6{
  font-family:"Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial,sans-serif;
  font-weight: normal;
  line-height: normal;
    margin:5px 0;
}
h1{
  font-size: floor((@body-font-size * 2.6));
    span{
        line-height:0;
    }
    i{
        line-height:0;
    }
}
h2{
  font-size: floor((@body-font-size * 2.15));
    span{
        line-height:0;
    }
    i{
        line-height:0;
    }
}
h3{
  font-size: ceil((@body-font-size * 1.7));
    span{
        line-height:0;
    }
    i{
        line-height:0;
    }
}
h4{
  font-size: ceil((@body-font-size * 1.25));
    span{
        line-height:0;
    }
    i{
        line-height:0;
    }
}
h5{
  font-size: @body-font-size;
    span{
        line-height:0;
    }
    i{
        line-height:0;
    }
}
h6{
  font-size: ceil((@body-font-size * 0.85));
    span{
        line-height:0;
    }
    i{
        line-height:0;
    }
}

img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}
.title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  height: 30px;
  margin-top:15px;
  margin-bottom:15px;
  color:#444;
}
.panel{
  border:1px solid @border-color;
  background: @modal-bg;
}
.panel .panel-header{
  padding:15px;
  border-bottom:1px solid @border-color;
}
.panel .panel-header h3{
  padding:0;
  margin:0 0 5px 0;
  display:block;
  line-height:0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.panel .panel-body,
.panel .panel-content{
  padding:15px;
}
.window{
  border:1px solid @border-color;
  .box-shadow(0 1px 5px @gray);
  background: @modal-bg;
}
.window .window-header{
  padding:15px 8px 15px 15px;
  border-bottom:1px solid @border-color;
}
.window .window-header h3{
  padding:0;
  margin:0 0 5px 0;
  display:block;
  line-height:0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.window .window-body,
.window .window-content{
  padding:15px;
}
.close{
  font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
  font-size:26px;
  line-height: 0;
  padding:0;
  margin:-5px 0 0 0;
  float:right;
  vertical-align: middle;
  text-decoration: none;
  color:@body-color;
}
.nopadding,
.no-padding{
  padding:0 !important;
}
.nomargin,
.no-margin{
  margin:0 !important;
}
.noborder,
.no-border{
  border:0 !important;
}

.no-opacity{
  .opacity(1);
}
.opacity-9{
  .opacity(0.9);
}
.opacity-8{
  .opacity(0.8);
}
.opacity-7{
  .opacity(0.7);
}
.opacity-6{
  .opacity(0.6);
}
.opacity-5{
  .opacity(0.5);
}
.opacity-4{
  .opacity(0.4);
}
.opacity-3{
  .opacity(0.3);
}
.opacity-2{
  .opacity(0.2);
}
.opacity-1{
  .opacity(0.1);
}
.opacity-0{
  .opacity(0);
}
.clearfix{
  clear:both;
}
.rounded{
    .rounded(8px);
}
.bold{
    font-weight: bold !important;
}
.generateMarginPadding(2,2px);
.generateMarginPadding(3,3px);
.generateMarginPadding(5,5px);
.generateMarginPadding(10,10px);
.generateMarginPadding(15,15px);
.generateMarginPadding(20,20px);
.generateMarginPadding(25,25px);
.generateMarginPadding(30,30px);
.generateMarginPadding(40,40px);
.generateMarginPadding(50,50px);
.border{
  border:1px solid @border-color;
}
.border-top{
  border-top:1px solid @border-color;
}
.border-left{
  border-left:1px solid @border-color;
}
.border-right{
  border-right:1px solid @border-color;
}
.border-bottom{
  border-bottom:1px solid @border-color;
}
.border.dotted{
  border:1px dotted @border-color;
}
.border-top.dotted{
  border-top:1px dotted @border-color;
}
.border-left.dotted{
  border-left:1px dotted @border-color;
}
.border-right.dotted{
  border-right:1px dotted @border-color;
}
.border-bottom.dotted{
  border-bottom:1px dotted @border-color;
}

.blur {
  .blurEffect(2px);
}
.slide-left{
  .transition();
  left:0;
}
.text-center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.text-justify{
  text-align: justify !important;
}
.text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  overflow: auto;
  z-index:9999;
  display:none;
  
}
.modal.drop{

}
.backdrop{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  z-index:-1;
  background: @black;
  .opacity(.15);
}
.modal.fadein{
  display:block;
}
.modal-dialog{
  border:1px solid @border-color;
  .box-shadow(0 5px 15px rgba(0,0,0,.5));
  width:@modal-width;
  position:absolute;
  top:@modal-top-position;
  left:50%;
  margin-bottom:150px;
  margin-left:-(@modal-width / 2);
  min-height:@modal-min-height;
  background: @modal-bg;
  .opacity(1);
}
.modal-dialog.lg,
.modal-dialog.modal-lg{
  border:1px solid @border-color;
  .box-shadow(2px 5px 15px @gray);
  width:@modal-lg-width;
  position:absolute;
  top:@modal-top-position;
  left:50%;
  margin-left:-(@modal-lg-width / 2);
  min-height:@modal-min-height;
}
.modal-dialog.sm,
.modal-dialog.modal-sm{
  border:1px solid @border-color;
  .box-shadow(0 1px 5px @gray);
  width:@modal-sm-width;
  position:absolute;
  top:@modal-top-position;
  left:50%;
  margin-left:-(@modal-sm-width / 2);
  min-height:@modal-top-position;
}

.modal.border .modal-dialog{
  border-width:6px !important;
}
.modal-dialog .modal-header{
  padding:15px 8px 15px 15px;
  border-bottom:1px solid @border-color;
}

.modal-dialog .modal-header h3{
  padding:0;
  margin:0 0 5px 0;
  display:block;
  line-height:0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modal-dialog .modal-body,
.modal-dialog .modal-content{
  padding:15px;
}

/* POPOVER */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 350px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid @border-color;
  .box-shadow(0 1px 5px @gray);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-header {
  padding:15px 8px 15px 15px;
  border-bottom:1px solid @border-color;
}
.popover-header h3{
  padding:0;
  margin:0 0 5px 0;
  display:block;
}
.popover-content,
.popover-body{
  padding:15px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: @border-color;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: @border-color;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: @border-color;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: @border-color;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
.popover.fadein{
  display:block;
}

.pull-left{
  float:left;
}
.pull-right{
  float:right;
}

.navbar{
  height:@navbar-height;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2000;
}

.navbar .brand{
  font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
  font-size:23px;
  color:@white;
  padding-left:20px;
  display:block;
  float:left;
  width:@sidebar-width;
  height:@navbar-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar ul.nav{
  list-style: none;
  padding:0;
  margin:0;
  display:table;
  float:left;
}
.navbar ul.nav li{
  float:left;
  line-height: 0;
  position:relative;
  vertical-align: middle;
  display:table;
  .chat-bubble{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 6px;
    font-size: 10px;
    border-radius: 5px;
    .box-shadow(0 1px 5px @gray);
    font-weight: bold;
  }
}
.navbar ul.nav li .popover{
  margin-top:(@navbar-height + 10);
  width:120px;
  margin-left:-30px;
}
.navbar ul.nav li .popover .popover-content,
.navbar ul.nav li .popover .popover-body{
  text-align: center;
  width:120px;
  display: table-cell;
}
.navbar ul.nav li a{
  color:@white;
  text-align: center;
  height:@navbar-height;
  display:block;
  padding-left:35px;
  padding-right:10px;
  padding-top:8px;
  vertical-align: middle;
  position:relative;
}
.navbar ul.nav li a span{
  font-size:28px;
  line-height:0;
  margin-right:5px;
  vertical-align: middle;
  position:absolute;
  left:10px;
  top:50%;
  margin-top:-17px;
}
.navbar ul.nav li a.profile{
  padding-right:50px;
  padding-left:10px;
  width:150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align:right;
}
.navbar ul.nav li a.profile img{
  width:30px;
  height:30px;
  position: absolute;
  right:10px;
  top:50%;
  margin-top:-15px;
}
.navbar ul.nav li a.pull-left{
  padding:0;
}
.dropdown{
  border:1px solid @border-color;
  .box-shadow(0 1px 5px @gray);
  background: @modal-bg;
  position: absolute;
  display:none;
}
.dropdown.fadein{
  display:block;
}
.dropdown.right{
  right: 0;
}
.dropdown .dropdown-body,
.dropdown .dropdown-content{
  padding:15px;
}
.navbar ul.nav li .dropdown {
    .media,
    .media-body {
      verflow: hidden;
        zoom: 1;
        text-align: left;
        line-height: 1;
        vertical-align: middle;
        font-size: 90%;
        padding-bottom: 5px;
    }
    .media,
    .media .media {
      margin-top: 15px;
      padding-top:0;
      color:lighten(@body-color,50%);
      text-align:left;
    }
    .media.list{
      border-left:3px solid @gray;
      padding-left:8px;
      text-align:left;
    }
    .media.list:hover{
      border-left:3px solid darken(@gray,20%);
    }
    .media:first-child {
      margin-top: 0;
    }
    .media-object {
      display: block;
    }
    .media-heading {
      margin: 0 0 3px 0;
      font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
      font-size:16px;
      color:@body-color;
    }
    .media .icon{
      font-size:32px;
      width:42px;
      height:42px;
      padding-left:10px;
      padding-right:10px;
      padding-bottom:5px;
      padding-top:0;
      background:@lightteal;
      display:block;
      text-align: center;
    }
    .media .icon i,
    .media .icon span{
      color:@white;
        width: 40px;
        height: 40px;
        line-height: 0;
        position: absolute;
    }
    .media > .pull-left {
      margin-right: 10px;
      padding-left:0;
      position:relative;
    }
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media,
.media .media {
  margin-top: 15px;
  color:lighten(@body-color,50%);
}
.media.list{
  border-left:3px solid @gray;
  padding-left:8px;
}
.media.list:hover{
  border-left:3px solid darken(@gray,20%);
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
  font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
  font-size:16px;
  color:@body-color;
}
.media .icon{
  font-size:32px;
  width:42px;
  height:42px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:5px;
  padding-top:0;
  background:@lightteal;
  display:block;
  text-align: center;
}
.media .icon i,
.media .icon span{
  color:@white;
    width: 40px;
    height: 40px;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left:-20px;
}
.media > .pull-left {
  margin-right: 10px;
  padding-left:0;
}
.media > .pull-right {
  margin-left: 10px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}
.sidebar{
  width:@sidebar-width;
  background: @sidebar-bg;
  position:fixed;
  top:@navbar-height;
  left:0;
  bottom:0;
  display:block;
  overflow-x:hidden;
  overflow-y:auto;
  padding-bottom:40px;
}
.content{
  position:fixed;
  top:@navbar-height;
  right:0;
  bottom:0;
  left:@sidebar-width;
  overflow: auto;
}
.content.padded{
  margin-top:33px;
  padding-bottom:50px;
}
.breadcrumb{
  position:fixed;
  top:40px;
  height:33px;
  left:@sidebar-width;
  right:0;
  border-bottom:1px solid @border-color;
  z-index:1000;
  background: @white;
}
.breadcrumb ul.tab{
  list-style: none;
  margin:0;
  height:33px;
  position: relative;
  vertical-align: bottom;
  padding:9px 10px 0 10px;
  float:left;
}
.breadcrumb ul.tab li{
  float:left;
  display:block;
}
.breadcrumb ul.tab li a{
  margin: 0 2px;
  line-height:100%;
  display:inline-block;
  padding:4px 15px;
  vertical-align: bottom;
  border-top:1px solid @border-color;
  border-left:1px solid @border-color;
  border-right:1px solid @border-color;

  text-transform: uppercase;
  font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
  color:#444;
  background: @gray;
}
.breadcrumb ul.tab > li.active a{
  background: @white;
  border-bottom:1px solid @white;
}
.breadcrumb ul.breadcrumb-nav{
  list-style: none;
  margin:0;
  height:33px;
  position: relative;
  display:block;
  vertical-align: middle;
  padding:5px 10px;
}
.breadcrumb ul.breadcrumb-nav li{
  float:left;
  display:block;
  margin-right:2px;
}
.breadcrumb ul.breadcrumb-nav li:after{
  content:"\00BB";
  padding:2px 0;
  vertical-align: bottom;

}
.breadcrumb ul.breadcrumb-nav li a{
  margin: 0 2px;
  padding:2px;
  vertical-align: bottom;
  font-size:85%;

}
.breadcrumb ul.breadcrumb-nav li:last-child:after {
  content:"";
}
ul.navigation{
  list-style: none;
  margin:0;
  padding:0;

}
ul.navigation li{
  position:relative;
  cursor:pointer;
}
ul.navigation li a.navtoggle{
  position:absolute;
  left:0;
  top:10px;
  margin-left:-14px;
  font-size:13px;
  color:@graynetral;
  display:none;
  width:30px;
  height:30px;
}
ul.navigation li a.navtoggle.active{
  display:block;
}
ul.navigation li a.navtoggle i{
  font-size:14px;
}
ul.navigation li a.navtoggle:hover{
  background:transparent !important;
  color:@body-color;
}
ul.nav li:first-child h3.title{
  margin-top:15px;
}
ul.navigation li h3.title{
  margin-bottom:10px;
  margin-top:10px;
}
ul.navigation li a{
  padding:6px 20px;
  display:block;
  vertical-align: middle;
  position: relative;
  color:lighten(@body-color,20%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.navigation li.active a{
  background: darken(@sidebar-bg,5%);
}
ul.navigation.icon li a{
  padding-left:48px;

}
ul.navigation li a:hover{
  background: darken(@sidebar-bg,5%);
}
ul.navigation li a i,
ul.navigation li a span{
  font-size:24px;
  vertical-align: middle;
  position:absolute;
  left:20px;
  top:50%;
  margin-top:-18px;
}
ul.navigation li ul{
  list-style: none;
  margin:0;
  padding:0;
  display:none;
}
ul.navigation li ul.active{
  display:block;
}
.grid-pagging{
    background:#FFF;
    padding:5px;
    color:#888;
    border-bottom:1px solid @border-color;
}
.grid-pagging a{
    text-decoration: none;
    color:#888;
    margin:3px 8px;
    vertical-align: middle;
    padding:3px;
    width: 16px;
    height: 16px;
    display:inline-block;
}
.grid-pagging a.prev{
    background-image:url('../images/page-prev.png');
    margin-right:20px;
}
.grid-pagging a.next{
    background-image:url('../images/page-next.png');
    margin-left:20px;
}
.grid-pagging a.first{
    background-image:url('../images/page-first.png');
}
.grid-pagging a.last{
    background-image:url('../images/page-last.png');
}
.grid-pagging a.refresh{
    background-image:url('../images/refresh.png');
}
.grid-pagging .separator{
    margin: 0 8px 0 0;
    height: 14px;
    vertical-align: middle;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-left-color: #e1e1e1;
    border-right-color: white;
}
.grid-pagging .info{
    color:#888;
    margin:0 25px;
    vertical-align: middle;
}

a.icon-settings:before{
  display: inline-block;
  font-family: "Ionicons";
  font-size:23px;
  content:"\f195";
  speak: none;
  color:@black;
  font-style: normal;
  margin:0 5px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.icon-view:before{
    display: inline-block;
    font-family: "Ionicons";
    font-size:23px;
    content:"\f193";
    speak: none;
    color:@orange;
    font-style: normal;
    margin:0 5px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a.icon-edit:before{
    display: inline-block;
    font-family: "Ionicons";
    font-size:23px;
    content:"\f17e";
    margin:0 5px;
    speak: none;
    color:@teal;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a.icon-approve:before{
    display: inline-block;
    font-family: "Ionicons";
    font-size:23px;
    content:"\f16e";
    speak: none;
    color:@green;
    margin:0 5px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a.icon-revoke:before{
    display: inline-block;
    font-family: "Ionicons";
    font-size:23px;
    content:"\f1ee";
    speak: none;
    color:@blue;
    margin:0 5px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a.icon-download:before{
    display: inline-block;
    font-family: "Ionicons";
    font-size:23px;
    content:"\f184";
    speak: none;
    margin:0 5px;
    color:@flatgreen;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a.icon-delete:before{
    display: inline-block;
    font-family: "Ionicons";
    font-size:23px;
    content:"\f1ec";
    speak: none;
    margin:0 5px;
    color:@graynetral;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a.icon-history:before{
    display: inline-block;
    font-family: "Ionicons";
    font-size:23px;
    content:"\f172";
    margin:0 5px;
    speak: none;
    color:@darkorange;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a.icon-properties:before{
  display: inline-block;
  font-family: "Ionicons";
  font-size:23px;
  content:"\f32f";
  margin:0 5px;
  speak: none;
  color:@darkblue;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.chat-window{
    position:fixed;
    right:45px;
    top:33px;
    left:auto !important;
    width:350px;
    height:500px;
    z-index:2001 !important;
    .popover-content{
        .chat-tab{
            a{
                font-size:32px;
                font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
                color:#DDD;
                margin:5px 15px 5px 0;
            }
            a.active{
                color:@blue;
            }
        }

        .chat-content{
            .chat-msgs{
                height:350px;
                padding:10px;
                margin-top:10px;
                margin-bottom:5px;
                border:1px solid @border-color;
                overflow:auto;
                p.chat-msg{
                    margin:5px 0;
                    padding-bottom:5px;
                    line-height:120%;
                    border-bottom:1px dotted @border-color;
                    margin-bottom:5px;
                    strong{
                        color:@blue;
                    }
                }
            }
            .chat-input{
                position:relative;
            }
        }
        .chat-content.hidden{
            display:none;
        }
        .chat-member{
            height:380px;
            padding:10px;
            margin-top:10px;
            margin-bottom:5px;
            border:1px solid @border-color;
            overflow:auto;
            ul.chat-userlist{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    color:#444;
                    i{
                        color:@green;
                        font-size:20px;
                        vertical-align:middle;
                        margin-right:5px;
                    }
                }
            }
        }
        .chat-member.hidden{
            display:none;
        }
    }
}

ul.treeview, ul.treeview li { list-style: none; margin: 0; padding: 0; }
ul.treeview { padding-left: 1em; }
ul.treeview li { padding-left: 1em; border: 1px dotted black; border-width: 0 0 1px 1px; }
ul.treeview li.container { border-bottom: 0px; width:auto;}
ul.treeview li.empty { font-style: italic; color: silver; border-color: silver; }
ul.treeview li p { margin: 0; background: white; position: relative; top: 15px; }
ul.treeview li ul.treeview { border-top: 1px dotted black; margin-left: -1em; padding-left: 2em; }
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.content.padded:before,
.content.padded:after{
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.content.padded:after{
  clear: both;
}
.dashboard-title{
  float:left;
  margin-right:5px;
  height:250px;
  width:auto;
  border:2px solid lighten(@dark-color,20%);
  position:relative;
  img{
    max-height:100%;
  }
  .caption{
    background: @black;
    .opacity(.5);
    color:@white;
    padding:5px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
  }
}
.dashboard-menu{
  float:left;
  width:120px;
  height:120px;
  color:white;
  margin-right:5px;
  margin-bottom:5px;
  text-align:center;
  position: relative;
  .icon{
    color:white;
    font-size:70px;
  }
  .caption{
    background: @black;
    .opacity(.5);
    color:@white;
    padding:5px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
#resize-handler{
  position: absolute;top:0;left:195px;bottom:0;cursor:col-resize;height:100%;width:4px;background:transparent;z-index:100;
}
.form-group {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom:15px;
}
.form-group:after,
.form-group:before{
  clear: both;
  display:table;
  content: " ";
}
.apps-content{
  display:none;
}
.apps-content.fadein,
.apps-content.active{
  display:block;
}
ul.apps-menu{
  margin:0 0 0 40px;
  padding:0;
  display:inline-block;
  list-style: none;
  li{
    width:350px;
    display:block;
    float:left;
    a{
      font-size:@body-font-size*1.2;
      padding:5px;
      display:block;
      white-space: nowrap;
      text-overflow:ellipsis;
      vertical-align: middle;
      overflow: hidden;
      i{
        margin-right:5px;
        width:40px;
        font-size:@body-font-size*2;
        text-align: center;
        display:block;
        vertical-align: middle;
        float:left;
      }
      span{
        margin-right:5px;
        width:38px;
        font-size:@body-font-size*1.7;
        text-align: center;
        display:block;
        vertical-align: middle;
        float:left;
      }
    }
  }
}
.shortcut {
  padding: 4px 12px;
  vertical-align: middle !important;
  background-color: #d9d9d9;
  border: 1px transparent solid;
  color: #222222;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  margin: auto;
  height: 92px !important;
  width: 92px !important;
  text-align: center;
  font-size: 12pt;
  border: 0;
  border-bottom: 2px solid transparent;
  display: inline-block;
  position: relative;
}
.shortcut [class*="ion-"],
.shortcut [class*="icon-"]{
  display: block;
  margin: 10px;
  font-size: 1.5em;

}
.ribbon{
  background: #FFFFFF;
  border-bottom:1px solid @border-color;
  min-height:48px;
  position:relative;
  padding:8px 15px;
  .menu{
    margin-left:-10px;
    float:left;
    display:block;
    a{
      color:#333;
      float:left;
      font-size:14px;
      border:1px solid transparent;
      border-radius: 3px;
      padding:4px 8px;
      margin-right:4px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      i,span{
        font-size:22px;
        line-height: 0;
        margin-right:8px;
      }

      .ion-ios7-save{
        width:20px;
        height:20px;
        background:url('../images/document-save.svg');
        fill: currentColor;
      }
    }
    a.fg-lightgray .ion-ios7-save{
      .opacity(.3);
    }
    a.no-hover{
      cursor:default;
    }
    a.no-hover:hover{
      border:1px solid transparent;
    }
    a:hover{
      border:1px solid @gray;
    }
    a.separator{
      width:1px;
      height:26px;
      margin-top:2px;
      margin-bottom:2px;
      padding:0;
      border-radius:0;
      border-top:1px solid transparent;
      border-right:1px solid transparent;
      border-bottom:1px solid transparent;
      border-left:1px solid @gray;
    }
  }
  .menu:after{
    clear:both;
  }
}


.ribbon.fixed{
  position:fixed;
  top:73px;
  right:0;
  z-index:1000;
  width:inherit !important;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  width:100%;
  display:block;
  list-style:none;
  margin:0;
  padding:0;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

/* Default mode */
.tabs-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabs-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabs-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabs-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabs-line > .nav-tabs > li.open > a, .tabs-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabs-line > .nav-tabs > li.open > a > i, .tabs-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabs-line > .nav-tabs > li.open .dropdown-menu, .tabs-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.tabs-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabs-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabs-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabs-line > .tab-content {
  padding-bottom: 0;
}
.tab-content>.tab-pane {
  display: none;
}
.tab-content>.active {
  display: block;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  height: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}