@media (max-width: 767px) {
    ul.nav.topmenu{
        display:none;
        position:fixed;
        top:40px;
        left:0;
        right:0;
        width:100%;
        z-index:9999;
        padding:10px;
        border-bottom: 1px solid #cccccc;
        -webkit-box-shadow: 0 1px 5px #f3f3f3;
        -moz-box-shadow: 0 1px 5px #f3f3f3;
        box-shadow: 0 1px 5px #f3f3f3;
        background: #ffffff;
    }
    ul.nav.topmenu.show{
        display:block;
    }
    ul.nav.topmenu li{
        display:block;
        width:100%;
        text-align: left;
    }
    ul.nav.topmenu li a{
        color:#444;
        text-align: left;
    }
    .navbar ul.nav li:hover,
    .navbar ul.nav li:active{
        background:transparent !important;
    }
    .profile{
        width:auto !important;
    }
    .breadcrumb{
        left:0 !important;
    }
    .content {
        left:0 !important;
        padding-bottom:30px;
    }
    .sidebar{
        width:100% !important;
        position: fixed;
        top:auto;
        bottom:0;
        left:0;
        right:0;
        z-index:99999;
        background: rgba(0,0,0,.7);
        min-height:18px;
        max-height:100%;
        overflow: auto;
        padding-bottom:10px;
    }
    .sidebar .navigation{
        display:none;
        padding-bottom:20px;
    }
    .sidebar .navigation.show{
        display:block;
    }
    .sidebar .toggleSidebar{
        color:#FFF;
        margin-bottom:-4px;
        padding:0 10px;
        font-size:18px;
        position: fixed;
        line-height: 0;
        bottom:0;
        right:0;
        cursor:pointer;
        display:block !important;
        z-index:99999;
    }
    .sidebar .navigation li h3.title{
        color:#EEE;
    }
    .sidebar .navigation li a{
        color:#EEE;
    }
    .sidebar .navigation li a:hover{
        background: rgba(0,0,0,.1);
        color:white;
    }

    ul.navigation li.active a {
        background: rgba(0,0,0,.25);
        color:white;
    }
    .toggleNavbar{
        color: #ffffff;
        text-align: center;
        height: 40px;
        width:40px;
        display: block;
        float:left;
        padding-top: 10px;
        vertical-align: middle;
        position: relative;
    }
    .toggleNavbar i{
        font-size: 28px;
        line-height: 0;
        margin-right: 5px;
        vertical-align: middle;
        position: absolute;
        left: 8px;
        top: 6px;
        color:white;
    }
    .navbar .brand{
        padding-left:10px;
        width:auto !important;
    }
    .dashboard-title{
        width:100%;
        display:block;
        margin:0 0 5px 0;
    }
}


@-ms-viewport {
    width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}
@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}
.visible-print {
    display: none !important;
}
@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}
.visible-print-block {
    display: none !important;
}
@media print {
    .visible-print-block {
        display: block !important;
    }
}
.visible-print-inline {
    display: none !important;
}
@media print {
    .visible-print-inline {
        display: inline !important;
    }
}
.visible-print-inline-block {
    display: none !important;
}
@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}
@media print {
    .hidden-print {
        display: none !important;
    }
}
.transaksi{
    position:fixed;
    top:40px;
    bottom:0;
}
.transaksi.left{
    right:450px;
    left:0;
}
.transaksi.right{
    width:450px;
    right:0;
    background: #EEE;
}