@width:19cm;
@height:27cm;
@totalRow:40;
@spanWidth:@width/12;
@spanHeight:32px;

.worksheet{
    width:(@width + 2cm);
    height:(@height + 2cm);
    position:relative;
    margin:10px auto;
    border:1px solid #DDD;
}
.sheet{
    width:@width;
    height:@height;
    position:relative;
    margin:1cm;
    padding:0;
}
.cellwidth{
    width:@spanWidth !important;
}
.cell{
    position:absolute;
    height:@spanHeight;
    width:auto;
    vertical-align: bottom;
    line-height: 28px;
}
.cell label{
    vertical-align: middle;
}
.generate-cell(@t,@h,@n:@totalRow, @i:1) when (@i <= @n){
    .cell.@{t}@{i}{
        top: (@i - 1) * @spanHeight;
        left: (@h - 1) * @spanWidth;
    }
    
    .generate-cell(@t,@h,@n, (@i + 1));
}


.generate-cell(a,1);
.generate-cell(b,2);
.generate-cell(c,3);
.generate-cell(d,4);
.generate-cell(e,5);
.generate-cell(f,6);
.generate-cell(g,7);
.generate-cell(h,8);
.generate-cell(i,9);
.generate-cell(j,10);
.generate-cell(k,11);
.generate-cell(l,12);
.generate-cell(m,13);
